@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html{
  font-size: 10px;
}
body{
  font-family: "Roboto", sans-serif;
  margin: 0;
}
#main-layout{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template:
  "n n" 56px
  "s c" / 240px;
}
#nav{
  grid-area: n;
}
#side{
  grid-area: s;
}
#content{
  grid-area: c;
}